


<div class="row">
  <div class="col-sm-6">
    <h1>Questions</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_question_path, class: 'btn btn-primary' do %>
    Add New Question
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Oid</th>
            <th>Question</th>
            <th>Question display text</th>
            <th>Display to sp</th>
            <th>Question display sequence</th>
            <th>Page number</th>
            <th>Question text</th>
            <th>Short question text</th>
            <th>Parent question</th>
            <th>Parent answer</th>
            <th>Parent question text</th>
            <th>Required</th>
            <th>Glossary term</th>
            <th>Default answer</th>
            <th>Active</th>
            <th>Attribute match</th>
            <th>Question set</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <%= content_tag :tr, id: dom_id(question), class: dom_class(question) do %>
          

                      <td><%= question.oid %></td>
                      <td><%= question.question_id %></td>
                      <td><%= question.question_display_text %></td>
                      <td><%= question.display_to_sp %></td>
                      <td><%= question.question_display_sequence %></td>
                      <td><%= question.page_number %></td>
                      <td><%= question.question_text %></td>
                      <td><%= question.short_question_text %></td>
                      <td><%= question.parent_question_id %></td>
                      <td><%= question.parent_answer_id %></td>
                      <td><%= question.parent_question_text %></td>
                      <td><%= question.required %></td>
                      <td><%= question.glossary_term %></td>
                      <td><%= question.default_answer %></td>
                      <td><%= question.active %></td>
                      <td><%= question.attribute_match %></td>
                      <td><%= question.question_set %></td>
          
          
            <td><%= link_to 'Show', question %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
