<div class="page-header">
  <%= link_to questions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Questions
  <% end %>
  <%= link_to edit_question_path(@question), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show question</h1>
</div>

<dl class="dl-horizontal">
  <dt>Oid:</dt>
  <dd><%= @question.oid %></dd>

  <dt>Question:</dt>
  <dd><%= @question.question_id %></dd>

  <dt>Question display text:</dt>
  <dd><%= @question.question_display_text %></dd>

  <dt>Display to sp:</dt>
  <dd><%= @question.display_to_sp %></dd>

  <dt>Question display sequence:</dt>
  <dd><%= @question.question_display_sequence %></dd>

  <dt>Page number:</dt>
  <dd><%= @question.page_number %></dd>

  <dt>Question text:</dt>
  <dd><%= @question.question_text %></dd>

  <dt>Short question text:</dt>
  <dd><%= @question.short_question_text %></dd>

  <dt>Parent question:</dt>
  <dd><%= @question.parent_question_id %></dd>

  <dt>Parent answer:</dt>
  <dd><%= @question.parent_answer_id %></dd>

  <dt>Parent question text:</dt>
  <dd><%= @question.parent_question_text %></dd>

  <dt>Required:</dt>
  <dd><%= @question.required %></dd>

  <dt>Glossary term:</dt>
  <dd><%= @question.glossary_term %></dd>

  <dt>Default answer:</dt>
  <dd><%= @question.default_answer %></dd>

  <dt>Active:</dt>
  <dd><%= @question.active %></dd>

  <dt>Attribute match:</dt>
  <dd><%= @question.attribute_match %></dd>

  <dt>Question set:</dt>
  <dd><%= @question.question_set %></dd>

</dl>
