


<div class="row">
  <div class="col-sm-6">
    <h1>Question_sets</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_question_set_path, class: 'btn btn-primary' do %>
    Add New Question set
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Oid</th>
            <th>Task</th>
            <th>Task oid</th>
            <th>Original task oid</th>
            <th>Set</th>
            <th>Interview type</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @question_sets.each do |question_set| %>
        <%= content_tag :tr, id: dom_id(question_set), class: dom_class(question_set) do %>
          

                      <td><%= question_set.oid %></td>
                      <td><%= question_set.task_id %></td>
                      <td><%= question_set.task_oid %></td>
                      <td><%= question_set.original_task_oid %></td>
                      <td><%= question_set.set_id %></td>
                      <td><%= question_set.interview_type %></td>
          
          
            <td><%= link_to 'Show', question_set %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
