<div class="page-header">
  <%= link_to question_sets_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Question_sets
  <% end %>
  <%= link_to edit_question_set_path(@question_set), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show question_set</h1>
</div>

<dl class="dl-horizontal">
  <dt>Oid:</dt>
  <dd><%= @question_set.oid %></dd>

  <dt>Task:</dt>
  <dd><%= @question_set.task_id %></dd>

  <dt>Task oid:</dt>
  <dd><%= @question_set.task_oid %></dd>

  <dt>Original task oid:</dt>
  <dd><%= @question_set.original_task_oid %></dd>

  <dt>Set:</dt>
  <dd><%= @question_set.set_id %></dd>

  <dt>Interview type:</dt>
  <dd><%= @question_set.interview_type %></dd>

  <% @question_set.questions.order(:question_display_sequence).each do |question| %>
     <dt>Question:</dt>
     <dd><%= question.question_display_text %></dd>
     <% question.answers.order(:answer_display_sequence).each do |answer| %>
        <dt>Answer:</dt>
        <dd><%= answer.answer_text %></dd>
     <% end %>
  <% end %>
</dl>
