<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :aid %>
    <%= form.number_field :aid, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_display_sequence %>
    <%= form.number_field :answer_display_sequence, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_text %>
    <%= form.text_area :answer_text, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :answer_display_text %>
    <%= form.text_area :answer_display_text, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :active %>
    <%= form.check_box :active, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :default_answer %>
    <%= form.check_box :default_answer, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :presentation_type %>
    <%= form.text_area :presentation_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :child_questions %>
    <%= form.text_area :child_questions, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if answer.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', answer, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if answer.persisted? %>
      <%= link_to "Cancel", answer, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", answers_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
