


<div class="row">
  <div class="col-sm-6">
    <h1>Answers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_answer_path, class: 'btn btn-primary' do %>
    Add New Answer
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Aid</th>
            <th>Answer display sequence</th>
            <th>Answer text</th>
            <th>Answer display text</th>
            <th>Active</th>
            <th>Default answer</th>
            <th>Presentation type</th>
            <th>Child questions</th>
            <th>Question</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @answers.each do |answer| %>
        <%= content_tag :tr, id: dom_id(answer), class: dom_class(answer) do %>
          

                      <td><%= answer.aid %></td>
                      <td><%= answer.answer_display_sequence %></td>
                      <td><%= answer.answer_text %></td>
                      <td><%= answer.answer_display_text %></td>
                      <td><%= answer.active %></td>
                      <td><%= answer.default_answer %></td>
                      <td><%= answer.presentation_type %></td>
                      <td><%= answer.child_questions %></td>
                      <td><%= answer.question %></td>
          
          
            <td><%= link_to 'Show', answer %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
